[submodule "third_party/submodules/Unity"]
	path = third_party/submodules/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "third_party/submodules/stb"]
	path = third_party/submodules/stb
	url = https://github.com/nothings/stb
