.gdb_history
.log
.cache
*.swp

a.out
a.out.c


/tmp
/build
/logs
/org
/report

/cache


dist
node_modules
package-lock.json

.vscode
.lite_workspace.lua

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Qt creator files
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
