build
logs
.cache
cache
.gdb_history
.log
out
report
org
tmp
*.swp

a.out
a.out.c

dist
node_modules
package-lock.json

.vscode
.lite_workspace.lua

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Qt creator files
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
